<template>
        <div>
            The visited URL is: {{ pageurl }}

            <input type="text" v-model="xi">
            XI: {{xi}}

            TEST Router Link<router-link to="page">Page</router-link>

        </div>
</template>
<script>

import Logger from '../logger'
const logger = Logger.withPrefix('[vue][body]')

logger.log("logger prepared.");

export default {

    props: {
        url: {
            type: String
        }
    },
    data: function() {

        logger.lin('[data]').log(" running... ", this.url)

        return {
          pageurl: this.url || "<not received any>",
          xi: "2"
        }

    }

}
</script>