$SitePathRoot: "/r/";
$ThemePathImage: "img/";

$color_deep_grey: #666;
$color_grey: #F1F2F3;
$color_lightblue: #6C97D0;
$color_extra_lightblue: #B9D1EE;
$color_cyan: #44C9C2;

$color_green: #97C74F;
$color_pink: #D95D82;

$font_family: 'PT Sans', 'cwTeXHei', sans-serif;

@mixin title-background($file) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80px;
  @include retina-background('#{$file}_mo', png);
  @include respond-to(sm) {
      background-position: 0px 0px;
      background-size: auto 139px;
      @include retina-background($file, png);
  }
}

@mixin round-label() {
  border-radius: .5em;
}

@mixin retina-background($file, $ext) {
    background-image: url('#{$file}.#{$ext}');
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 2000px),
    only screen and (        min-device-pixel-ratio: 2) and ( max-width: 2000px),
    only screen and (                min-resolution: 192dpi) and ( max-width: 2000px),
    only screen and (                min-resolution: 2dppx) and ( max-width: 2000px) {
        background-image: url('#{$file}@2x.#{$ext}');
    }
}

@mixin fa-icon() {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/// media query mixin
/// @include respond-to(handhelds) { width: 100% ;}
@mixin respond-to($media) {
  @if $media == xs {
    @content;
  }
  // @else if $media == medium-screens {
  //   @media only screen and (min-width: 321px) and (max-width: 1024px) { @content; }
  // }
  // @else if $media == wide-screens {
  //   @media only screen and (min-width: 1024px) { @content; }
  // }
  // Small devices (landscape phones, 544px and up)
  @else if $media == sm {
    @media (min-width: 544px) { @content; }
  }
  // Medium devices (tablets, 768px and up)
  @else if $media == md {
    @media (min-width: 768px) { @content; }
  }
  // Large devices (desktops, 992px and up)
  @else if $media == lg {
    @media (min-width: 992px) { @content; }
  }
  // Extra large devices (large desktops, 1441px and up)
  @else if $media == xl {
    @media (min-width: 1441px) { @content; }
  }
}

/// Contents respond to max width
@mixin respond-max-to($media) {
  @if $media == xs {
    @media (max-width: 321px) { @content; }
  }
  @else if $media == sm {
    @media (max-width: 544px) { @content; }
  }
  // Medium devices (tablets, 768px and up)
  @else if $media == md {
    @media (max-width: 768px) { @content; }
  }
  // Large devices (desktops, 992px and up)
  @else if $media == lg {
    @media (max-width: 992px) { @content; }
  }
  // Extra large devices (large desktops, 1200px and up)
  @else if $media == xl {
    @media (max-width: 1441px) { @content; }
  }
}